@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-[1.1rem];
  }
  h5 {
    @apply text-[1rem];
  }
  p {
    @apply text-[1rem];
  }
}

.blog h1 {
  @apply my-10 text-3xl tracking-wide md:text-5xl;
}

.blog p {
  @apply my-5 text-lg leading-loose tracking-wide md:text-xl;
}

.blog h2 {
  @apply my-7 text-2xl tracking-wide md:text-4xl;
}

.blog h3 {
  @apply my-5 text-xl leading-loose tracking-wide md:text-2xl;
}

.blog img {
  @apply my-10 w-full;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke: #1e40af;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: block;
  stroke-width: 3;
  stroke: #1e40af;
  stroke-miterlimit: 10;
  margin: 2% auto;
  box-shadow: inset 0px 0px 0px #1d4ed8;
  animation:
    fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #fff;
  }
}

.dotted-line {
  background-image: linear-gradient(
    to right,
    currentColor 6px,
    transparent 1px
  );
  background-size: 10px 16px; /* Adjust as needed */
  background-repeat: repeat-x;
}

/* TitTap Editor Design */
.ProseMirror {
  padding: 10px;
  border: 2px solid grey;
  background: white;
  border-radius: 5px;
  min-height: 100px;
}
.ProseMirror:focus {
  border: none;
  outline: 2px solid grey;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 2rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
